In [1]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.datasets import load_wine
from sklearn.metrics import accuracy_score
import os
import json
import requests

### Import Data

In [2]:
# set the path of the processed data
processed_data_path = os.path.join(os.path.pardir,'data','processed')
train_file_path = os.path.join(processed_data_path,'train.csv')
test_file_path = os.path.join(processed_data_path,'test.csv')

In [3]:
train_df = pd.read_csv(train_file_path)
test_df = pd.read_csv(test_file_path)

In [4]:
train_df.rename(columns={'Unnamed: 0': 'unnamed'}, inplace=True)

In [5]:
test_df.rename(columns={'Unnamed: 0': 'unnamed'}, inplace=True)

In [6]:
train_df.head()

,unnamed,diagnosed,age,sex,trestbps,chol,fbs,restecg,thalach,exang,...,cp_3.0,cp_4.0,cat_A,cat_B,cat_C,cat_D,cat_E,cat_F,cat_G,cat_Z
0,0,0,28.0,1.0,130.0,132,0,2,185.0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,29.0,1.0,120.0,243,0,0,160.0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,0,29.0,1.0,140.0,242,0,0,170.0,0,...,0,0,0,0,0,0,1,0,0,0
3,3,0,30.0,0.0,170.0,237,0,1,170.0,0,...,0,0,0,0,0,0,1,0,0,0
4,4,0,31.0,0.0,100.0,219,0,1,150.0,0,...,0,0,0,0,0,1,0,0,0,0

In [7]:
test_df.head()

,unnamed,diagnosed,age,sex,trestbps,chol,fbs,restecg,thalach,exang,...,cp_3.0,cp_4.0,cat_A,cat_B,cat_C,cat_D,cat_E,cat_F,cat_G,cat_Z
0,0,-888,63.0,1.0,145.0,233,1,2,150.0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,-888,67.0,1.0,160.0,286,0,2,108.0,1,...,0,1,0,1,0,0,0,0,0,0
2,2,-888,67.0,1.0,120.0,229,0,2,129.0,1,...,0,1,0,0,1,0,0,0,0,0
3,3,-888,37.0,1.0,130.0,250,0,0,187.0,0,...,1,0,0,0,0,0,0,1,0,0
4,4,-888,41.0,0.0,130.0,204,0,2,172.0,0,...,0,0,0,0,0,0,1,0,0,0

In [8]:
test_df['diagnosed'] = test_df['num'].apply(lambda x: 0 if x == 0 else 1)

In [9]:
X_train = train_df
y_train = train_df['diagnosed']

X_test = test_df
y_test = test_df['diagnosed']

### train the model and make prediction

In [10]:
#clf = tree.DecisionTreeClassifier()
#clf = clf.fit(X_train, y_train)
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
clf = BaggingClassifier(rf, max_samples=0.6, max_features=1.0, n_estimators=100)

clf.fit(X_train, y_train)

BaggingClassifier(base_estimator=RandomForestClassifier(), max_samples=0.6,
                  n_estimators=100)

In [11]:
y_pred = clf.predict(X_test)

In [12]:

print("accuracy_score: %.2f"
      % accuracy_score(y_test, y_pred))

accuracy_score: 1.00

### serialize the model with pickle

In [13]:
# the model saved is to be loaded in server site

import pickle
import os
models_path = os.path.join(os.path.pardir,'models')
pickle_path = os.path.join(models_path,'final_prediction.pickle')

#pickle.dump(clf, open('models/final_prediction.pickle', 'wb'))
pickle.dump(clf, open(pickle_path, 'wb'))

In [14]:
api_file = os.path.join(os.path.pardir,'models','api.py')

## server site API provider

In [15]:
%%writefile $api_file

from flask import Flask, request, redirect, url_for, flash, jsonify
import numpy as np
import pickle as p
import json


app = Flask(__name__)


@app.route('/api/', methods=['POST'])
def makecalc():
    data = request.get_json()
    prediction = np.array2string(model.predict(data))

    return jsonify(prediction)

if __name__ == '__main__':
    
# load the model and run prediction
# the run is in the server site

    modelfile = 'final_prediction.pickle'
    model = p.load(open(modelfile, 'rb'))
    app.run(debug=True, host='127.0.0.1')

Overwriting ..\models\api.py

## client site API caller

In [16]:
# as test choose 5 rows from testset to compare result

patients = test_df[test_df['diagnosed'] == 1][:5]

In [17]:
data = patients.to_numpy().astype('float')

In [18]:
data

array([[  1. ,   1. ,  67. ,   1. , 160. , 286. ,   0. ,   2. , 108. ,
          1. ,   1.5,   2. ,   0. ,   3. ,   2. ,   0. ,   0. ,   0. ,
          1. ,   0. ,   1. ,   0. ,   0. ,   0. ,   1. ,   0. ,   1. ,
          0. ,   0. ,   0. ,   0. ,   0. ,   0. ],
       [  2. ,   1. ,  67. ,   1. , 120. , 229. ,   0. ,   2. , 129. ,
          1. ,   2.6,   2. ,   0. ,   3. ,   1. ,   1. ,   0. ,   0. ,
          0. ,   0. ,   1. ,   0. ,   0. ,   0. ,   1. ,   0. ,   0. ,
          1. ,   0. ,   0. ,   0. ,   0. ,   0. ],
       [  6. ,   1. ,  62. ,   0. , 140. , 268. ,   0. ,   2. , 160. ,
          0. ,   3.6,   3. ,   0. ,   3. ,   3. ,   0. ,   0. ,   1. ,
          0. ,   0. ,   1. ,   0. ,   0. ,   0. ,   1. ,   0. ,   0. ,
          0. ,   0. ,   1. ,   0. ,   0. ,   0. ],
       [  8. ,   1. ,  63. ,   1. , 130. , 254. ,   0. ,   2. , 147. ,
          0. ,   1.4,   2. ,   0. ,   3. ,   2. ,   0. ,   1. ,   0. ,
          0. ,   0. ,   1. ,   0. ,   0. ,   0. ,   1. ,   0. ,   0. ,
          0. ,   1. ,   0. ,   0. ,   0. ,   0. ],
       [  9. ,   1. ,  53. ,   1. , 140. , 203. ,   1. ,   2. , 155. ,
          1. ,   3.1,   3. ,   0. ,   3. ,   1. ,   0. ,   0. ,   1. ,
          0. ,   1. ,   0. ,   0. ,   0. ,   0. ,   1. ,   0. ,   0. ,
          0. ,   1. ,   0. ,   0. ,   0. ,   0. ]])

### Before running this step make sure server is running
#### C:\Users\DeeWu\project\models\python api.py

In [20]:
import requests
import json
from flask import Flask, request

url = 'http://127.0.0.1:5000/api/'

j_data = json.dumps(data.tolist())

headers = {'content-type': 'application/json', 'Accept-Charset': 'UTF-8'}
r = requests.post(url, data=j_data, headers=headers)

print(r, r.text)

<Response [200]> "[1 1 1 1 1]"