In [1]:
import os 
hello_world_script_file=os.path.join(os.path.pardir,'src','models','hello_world_api.py')

In [33]:
%%writefile $hello_world_script_file
from flask import Flask, request
app = Flask(__name__)
@app.route('/api',methods=['POST'])
def say_hello():
    data = request.get_json(force=True)
    name = data['name']
    return "hello {0}".format(name)
if __name__ == '__main__':
    app.run(port=10001,debug=True)

Overwriting ..\src\models\hello_world_api.py

In [3]:
import json
import requests

In [4]:
url = 'http://127.0.0.1:10001/api'
data = json.dumps({'name' : 'abhi'})
r = requests.post(url,data)

In [5]:
print(r.text)

hello abhi

## Machine Learning API using Flask

### Building API

In [6]:
machine_learning_api_script_file = os.path.join(os.path.pardir,'src','models','machine_learning_api.py')

In [34]:
%%writefile $machine_learning_api_script_file
from flask import Flask, request
import pandas as pd
import numpy as np
import json
import pickle
import os

app = Flask(__name__)

# Load Model and Scaler Files
#model_path = os.path.join(os.path.pardir,os.path.pardir,'models')
model_path = os.path.join('','','models')
model_filepath = os.path.join(model_path, 'lr_model.pkl')
scaler_filepath = os.path.join(model_path, 'lr_scaler.pkl')

scaler = pickle.load(open(scaler_filepath,'rb'))
model = pickle.load(open(model_filepath,'rb'))

# columns
columns = [ u'unnamed', u'diagnosed', u'age', \
       u'sex', u'trestbps', u'chol', u'fbs', u'restecg', u'thalach', \
       u'exang', u'oldpeak', u'slope', u'ca', u'thal', u'num', \
       u'trestbps_Bin_very_low', u'trestbps_Bin_low', u'trestbps_Bin_high', u'trestbps_Bin_very_high', u'AgeState_MiddleAdult', \
       u'AgeState_OldAdult ', u'cp_1.0', u'cp_2.0', u'cp_3.0', \
       u'cp_4.0', u'cat_A', u'cat_B', u'cat_C', \
       u'cat_D', u'cat_E', u'cat_F', u'cat_G', u'cat_Z'] 

@app.route('/api', methods=['POST'])
def make_prediction():
    # read json object and convert to json string
    data = json.dumps(request.get_json(force=True))
    # create pandas dataframe using json string
    df = pd.read_json(data)
    # extract passengerIds
    patient_ids = df['unnamed'].ravel()
    # actual survived values
    actuals = df['diagnosed'].ravel()
    # extract required columns based and convert to matrix
    X = df[columns].to_numpy().astype('float')
    # transform the input
    X_scaled = scaler.transform(X)
    # make predictions
    predictions = model.predict(X_scaled)
    # create response dataframe
    df_response = pd.DataFrame({'Patient': patient_ids, 'Predicted' : predictions, 'Actual' : actuals})
    # return json 
    return df_response.to_json()

 

if __name__ == '__main__':
    # host flask app at port 10001
    app.run(port=10001, debug=True)

Overwriting ..\src\models\machine_learning_api.py

### Invoking API using Requests

In [35]:
import os
import pandas as pd
processed_data_path = os.path.join(os.path.pardir,'data','processed')
train_file_path = os.path.join(processed_data_path,'train.csv')
train_df = pd.read_csv(train_file_path)

In [36]:
survived_passengers = train_df[train_df['diagnosed'] == 1][:5]

In [37]:
survived_passengers

,Unnamed: 0,diagnosed,age,sex,trestbps,chol,fbs,restecg,thalach,exang,...,cp_3.0,cp_4.0,cat_A,cat_B,cat_C,cat_D,cat_E,cat_F,cat_G,cat_Z
188,188,1,31.0,1.0,120.0,270,0,0,153.0,1,...,0,1,0,0,0,1,0,0,0,0
189,189,1,33.0,0.0,100.0,246,0,0,150.0,1,...,0,1,0,0,0,1,0,0,0,0
190,190,1,34.0,1.0,140.0,156,0,0,180.0,0,...,0,0,0,0,0,0,0,1,0,0
191,191,1,35.0,1.0,110.0,257,0,0,140.0,0,...,0,0,0,0,0,1,0,0,0,0
192,192,1,36.0,1.0,120.0,267,0,0,160.0,0,...,0,0,0,0,0,0,1,0,0,0

In [38]:
survived_passengers.rename(columns={'Unnamed: 0': 'unnamed'}, inplace=True)

In [39]:
survived_passengers.head()

,unnamed,diagnosed,age,sex,trestbps,chol,fbs,restecg,thalach,exang,...,cp_3.0,cp_4.0,cat_A,cat_B,cat_C,cat_D,cat_E,cat_F,cat_G,cat_Z
188,188,1,31.0,1.0,120.0,270,0,0,153.0,1,...,0,1,0,0,0,1,0,0,0,0
189,189,1,33.0,0.0,100.0,246,0,0,150.0,1,...,0,1,0,0,0,1,0,0,0,0
190,190,1,34.0,1.0,140.0,156,0,0,180.0,0,...,0,0,0,0,0,0,0,1,0,0
191,191,1,35.0,1.0,110.0,257,0,0,140.0,0,...,0,0,0,0,0,1,0,0,0,0
192,192,1,36.0,1.0,120.0,267,0,0,160.0,0,...,0,0,0,0,0,0,1,0,0,0

In [40]:
import requests
def make_api_request(data):
    url='http://127.0.0.1:10001/api'
    # make post request
    r = requests.post(url,data)
    #return
    return r.json()

In [ ]:
make_api_request(survived_passengers.to_json())

In [ ]:
# compare results
result = make_api_request(train_df.to_json())
df_result = pd.read_json(json.dumps(result))
df_result.head()

In [ ]:
# accuracy level
import numpy as np
np.mean(df_result.Actual == df_result.Predicted)